<div class="container-fluid" style="background-color:#C5CAE9";>
  <div class="container col-sm-9">
    <form action="/client/export/" method=  "post">
      <div class="modal-header">
        <h4 class="text-center">Export client records to local drive</h4>
      </div>

      <div class="modal-body">

        <div class="form-group row">
          <label for="client_id" class="col-sm-3 form-control-label">Retrieve records for client</label>
          
          <div class="col-sm-4">
            <input type="text" class="form-control" name="client_id" id="client_id" placeholder="Enter Client Id">
          </div>

          <div class="col-sm-1">
            <button class="btn btn-primary btn-sm" ><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>

        

      </div>
    </form>
  </div>
</div>
