<div class="container-fluid" style="background-color:#C5CAE9";>
            <div class="modal-header">
                <h3 class="text-center">Enter wage details for client <%= @client.client_name %></h3>
            </div>
      
            <div class="modal-body">
            
         	    <form action="/client/new/wages/<%= @client.client_id %>" method="post">
         	        <div class="container">
             			<div class="form-group row">
                            <label for="year" class="col-sm-3 form-control-label">Tax Year</label>
			                <div class="col-sm-4">
			                    <select name="tax_year" id="year" class="form-control">
          				          <option>2016</option>
          				          <option>2015</option>
          				          <option>2014</option>
          				          <option>2013</option>
          				          <option>2012</option>
        				        </select>
			                </div>
				  	    </div>

              <input type="hidden" name="client_id" value="<%= @client.client_id %>" >
			
					    <div class="form-group row">
					        <label for="name" class="col-sm-3 form-control-label">Salaries</label>
					        <div class="col-sm-4">
					           <input type="number" class="form-control" name="salary" id="salary" value="0">
					        </div>
					    </div>

					    <div class="form-group row">
					        <label for="client_id" class="col-sm-3 form-control-label">Superannuation</label>
					        <div class="col-sm-4">
					            <input type="number" class="form-control" name="super" id="super" 
                                value=0>
					        </div>
					    </div>

					    <div class="form-group row">
					        <label for="name" class="col-sm-3 form-control-label">Fringe benefits</label>
					        <div class="col-sm-4">
					            <input type="number" class="form-control" name="fringe_benefits" id="fringe_benefits" value="0">
					        </div>
					    </div>

    					<div class="form-group row">
    					    <label for="client_id" class="col-sm-3 form-control-label">Contractors</label>
    					    <div class="col-sm-4">
    					      <input type="number" class="form-control" name="contractor_payments" id="contractor_payments" value="0">
    					    </div>
    					</div>

                        <div class="form-group row">
                          <label for="client_id" class="col-sm-3 form-control-label">Shares/Options</label>
                          <div class="col-sm-4">
                            <input type="number" class="form-control" name="ess" id="ess" value="0">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="name" class="col-sm-3 form-control-label">Allowances</label>
                          <div class="col-sm-4">
                            <input type="number" class="form-control" name="allowances" id="allowances" value="0">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="client_id" class="col-sm-3 form-control-label">Apprentices/Trainees</label>
                          <div class="col-sm-4">
                            <input type="number" class="form-control" name="apprentice_payments" id="apprentice_payments" value="0">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="client_id" class="col-sm-3 form-control-label">Exempt Wages</label>
                          <div class="col-sm-4">
                            <input type="number" class="form-control" name="exempt_wages" id="exempt_wages" value="0">
                          </div>
                        </div>

                        <% if @client.grp_members > 0 %>

                          <div class="form-group row">
                            <label for="client_id" class="col-sm-3 form-control-label">Group NSW Wages</label>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" name="grp_nsw_wages" id="grp_nsw_wages" value="0">
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="client_id" class="col-sm-3 form-control-label">Interstate Wages</label>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" name="interstate_wages" id="interstate_wages" value="0">
                            </div>
                          </div>



                          <div class="form-group row">
                            <label for="client_id" class="col-sm-3 form-control-label">Group Interstate Wages</label>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" name="grp_interstate_wages" id="grp_interstate_wages" value=0>
                            </div>
                          </div>

                          <% else %>
                          <input type="hidden" class="form-control" name="grp_nsw_wages" id="grp_nsw_wages" value="0">

                          <input type="hidden" class="form-control" name="interstate_wages" id="interstate_wages" value="0">

                          <input type="hidden" class="form-control" name="grp_interstate_wages" id="grp_interstate_wages" value="0">
                          
                       
                        <% end %>

                        <div class="col-sm-offset-3 col-sm-9">
                            <form action="#" method="get">
                                <button class="btn btn-primary btn-lg" >Submit</button>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
</div>
        

          

      

    
